<div id="usrimg">
  <h1><%= @user['name'] %>'s Events</h1>
  <%= image_tag @user['picture']['data']['url'].to_s, :size => "100", :crop => :fill %>
</div>
<div id="flex-container">
  <% @events[0][1]["data"].each do |event| %>
   <div id="results">
      <form class ="former" action="" method="post">
      <h1><%= event["name"] %></h1>
      <h3><%= event["start_time"] %></h3>
      <p><%= event["description"] %></p>
       <p><%= event["description"] %></p>

        <button class ="supersaver" name="soopersaver" value="saves">Publish to Not Facebook</button>
      </form>

    </div>
  <% end %>
</div>
<%= link_to "Back", '/' %>
